.email{
    size: 20vw;
}

.form-group{
    width: 30vw;
    margin: auto;
  
}
h1{
    text-align: center;
}

h3{
    text-align: center;
}
.text-muted{
    position: absolute;
    right: 280px;
    top:110px ;
}
.table{
    width: 30vw;
    height: 50px;
    align-content: flex-end;
   
 }

.payments{
  
}

.container{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
caption{
    font-size:x-large;
}
.table{
    
}