.email{
    size: 20vw;
}

.form-group{
    width: 30vw;
    margin: auto;
  
}
h1{
    text-align: center;
}
thead{
   
}
.table{
   width: 40vw;
   margin: auto;
    
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
button{
   text
}
