.email{
    size: 20vw;
}

.form-group{
    width: 40vw;
    margin: auto;
  
}
h1{
    text-align: center;
}

h3{
    text-align: center;
}
.text-muted{
    position: absolute;
    right: 280px;
    top:110px ;
}
.table{
    width: 45vw;
   
 }

.payments{
  padding: 0%;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
caption{
    font-size:x-large;
}
