h1 {
    text-align: center;
}

 .intro{
 
  text-align: center;
 }
 .MyUl{
  display: table;
  margin: auto;
 }
 p{
  font-weight: bold;
 }
 .rounded {
  width: 300px;
  margin: auto;
  padding: 0px;

 }

