h1 {
    text-align: center;
}
.row {
  display: flex;
  margin: auto;
}

.column {
  flex: 33.33%;
  padding: 5px;
 
}
.img1 {
   position: absolute;
   top: 150px;
   left: 60px;
   width: 300px;
 
 }
 .img2 {
  position: absolute;
  top: 150px;
  right: 60px;
   width:300px
 }
 .intro{
 
  text-align: center;
 }
 .MyUl{
  display: table;
  margin: auto;
 }
 p{
  font-weight: bold;
 }