h1{
    text-align: center;
}

p{
    text-align: center;
}
.mb-3{
    text-align: center;
}

.form-control{
    width: 40vw;
    margin: auto;
    border-color: black;
}
.border{
    padding: 0px;
    width: 60vw;
    height: 400px ;
    margin: auto;
    font-weight: bold;
}
.btn{
    border-width: 3px;    
    

}
